* {
  padding: 0 !important;
  margin: 0 !important;
}

html,
body {
  height: 100%;
  background-color: #073B3A !important;
}
th{
  position: sticky;
}

.table-overflow{
  max-height: 300px !important;
  overflow-y: scroll !important;
}

.section-padding-top{
  padding-top: 5px;
}


.bg-navbar{
  background-color: #073B3A;
  filter: brightness(0.95);
}

.current-page-nav {
  color: #0B6E4F;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer a {
  text-decoration: none !important;
}

footer hr {
  width: 80%;
  border: 2px solid white;
  background-color: white;
}

.custom-img {
  width: 100px;
}

.footer-custom-img {
  width: 300px;
}


.icon {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-gap: 20px;
  overflow: scroll;
}

.icon li {
  list-style-type: none;
}

.icon li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: grey;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 40%;
}

.icon li a img {
  width: 30px;
  height: 30px;
}

.icon li a:hover {
  background: lightblue;
}

.footer-iconz{
  background-color: grey;
  width: 20px;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: black;
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .text-adjust{
    font-size: 90%;
  }
  .w-100{
    width: 75%;
  }
  .h-100{
    height: 75%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .text-adjust{
    font-size: 95%;
  }
}


